@import url('__title/lead__title.css');
@import url('__subtitle/lead__subtitle.css');
@import url('__image-container/lead__image-container.css');
@import url('__image/lead__image.css');
@import url('__caption/lead__caption.css');

.lead {
  width: calc(100% - 296px);
  color: #fff;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1030px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 770px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 330px) {
  .lead {
    margin-bottom: 64px;
  }
}
