.lead__caption {
  width: 159px;
  height: 14px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 770px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 330px) {
  .lead__caption {
    margin-left: 16px;
  }
}
